# Build artifacts
bin/
obj/
dist/

# Visual Studio
*.suo
*.user
*.userosstate
*.sln.docstates
.vs/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Node
node_modules/

# Game DLLs
Refs/

# Other mod-specific ignores
/path/to/mod-specific/files/